<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Student Health Hub</title>
	<meta
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
			name="viewport" />
	<link rel="stylesheet"
		  th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet"
		  th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/styles.css}" />


	<style>
		#footer {



		}
	</style>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<a class="navbar-brand"  href="#" th:href="@{/}">Student Health Hub
						</a>
					<li><a href="" th:href="@{/evenement/home}" >About</a></li>
					<li class="dropdown">


					</li>
					<li><a href="" th:href="@{/evenement/home}" >Evenement</a></li>
					<li><a href="" th:href="@{/Consultation}" >Consultation</a></li>
					<li><a href="" th:href="@{/register}" >Register</a></li>


					<div  style="margin-top: -6%;margin-left: 212%;" id="navbar" class="collapse navbar-collapse" sec:authorize="isAuthenticated()" > <form th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form> </div>
					<div style="margin-top: -6%;margin-left: 231%;" sec:authorize="hasAuthority('ROLE_SUPADMIN')" >
						<a href="" th:href="@{/ok}" >panel</a>
					</div>


				</ul>

			</div><!--/.nav-collapse -->
		</div>

	</div>
</nav>

<div class="container">

	<div layout:fragment="content">
		<!-- Your Page Content Here -->
	</div>

</div>

</body>
</html>
